<style type="text/css">
#pic1 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic2 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic3 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic4 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic5 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic6 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic7 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic8 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic9 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic10 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic11 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic12 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic13 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic14 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic15 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}
#pic16 {text-align:center; font-family:Courier New ; font-size: 14.5px ; color: #666666}

</style>
<div id="pic1"><%= @pic1.what %>, <%= @pic1.city %>, <%= @pic1.year %></div>
<div id="pic2"><%= @pic2.what %>, <%= @pic2.city %>, <%= @pic2.year %></div>
<div id="pic3"><%= @pic3.what %>, <%= @pic3.city %>, <%= @pic3.year %></div>
<div id="pic4"><%= @pic4.what %>, <%= @pic4.city %>, <%= @pic4.year %></div>
<div id="pic5"><%= @pic5.what %>, <%= @pic5.city %>, <%= @pic5.year %></div>
<div id="pic6"><%= @pic6.what %>, <%= @pic6.city %>, <%= @pic6.year %></div>
<div id="pic7"><%= @pic7.what %>, <%= @pic7.city %>, <%= @pic7.year %></div>
<div id="pic8"><%= @pic8.what %>, <%= @pic8.city %>, <%= @pic8.year %></div>
<div id="pic9"><%= @pic9.what %>, <%= @pic9.city %>, <%= @pic9.year %></div>
<div id="pic10"><%= @pic10.what %>, <%= @pic10.city %>, <%= @pic10.year %></div>
<div id="pic11"><%= @pic11.what %>, <%= @pic11.city %>, <%= @pic11.year %></div>
<div id="pic12"><%= @pic12.what %>, <%= @pic12.city %>, <%= @pic12.year %></div>
<div id="pic13"><%= @pic13.what %>, <%= @pic13.city %>, <%= @pic13.year %></div>
<div id="pic14"><%= @pic14.what %>, <%= @pic14.city %>, <%= @pic14.year %></div>
<div id="pic15"><%= @pic15.what %>, <%= @pic15.city %>, <%= @pic15.year %></div>
<div id="pic16"><%= @pic16.what %>, <%= @pic16.city %>, <%= @pic16.year %></div>
